<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%= link_to "List", donors_path  %></li>
    </ul>
  </div>          

	
      <div class="actions-bar wat-cf">
        <div class="actions"></div>
 
          <div class="content">
            <h2 class="title">Lists</h2>

            <div class="inner">
              <ul class="list">
		        <% @donors.each do |donor| -%>
                <li>
                  <div class="left"><%= image_tag("web-app-theme/amd.jpg", :alt => "Delete") + " ."  %></div>
                  <div class="item"><p>Name: <%= donor.first %> <%= donor.last %></p></div>
                  <div class="item"><p>City: <%= donor.city %></p></div>
               	  <div class="item"><p>Description: <%= donor.description %></p></div>
                </li>
 				<% end %>
              </ul>
				
          </div>
        </div>
       
        <%= will_paginate @donors  %>
        
      </div>

</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>