<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", donors_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_donor_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", donor_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p>
          <b><%= t("activerecord.attributes.donor.first", :default => t("activerecord.labels.first", :default => "First")) %>:</b>
          <%= @donor.first %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.donor.last", :default => t("activerecord.labels.last", :default => "Last")) %>:</b>
          <%= @donor.last %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.donor.address", :default => t("activerecord.labels.address", :default => "Address")) %>:</b>
          <%= @donor.address %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.donor.city", :default => t("activerecord.labels.city", :default => "City")) %>:</b>
          <%= @donor.city %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.donor.facebook", :default => t("activerecord.labels.facebook", :default => "Facebook")) %>:</b>
          <%= @donor.facebook %>
        </p>

        <p>
          <b><%= t("activerecord.attributes.donor.description", :default => t("activerecord.labels.description", :default => "Description")) %>:</b>
          <%= @donor.description %>
        </p>
      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_donor_path(@donor), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), donor_path(@donor), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>      
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>