<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%= link_to "#{t("web-app-theme.list", :default => "List")}", donations_path  %></li>
      <li><%= link_to "#{t("web-app-theme.new", :default => "New")}", new_donation_path %></li>
      <li class="active"><%= link_to "#{t("web-app-theme.show", :default => "Show")}", donation_path %></li>
    </ul>
  </div>          
  <div class="content">
    <div class="inner">
      
        <p><b>Org:</b><%= @donation.org_id %></p>
        <p><b>User:</b><%= @donation.user_id %></p>
        <p><b>Kind:</b><%= @donation.kind %></p>
        <p><b>Value:</b><%= @donation.value %></p>

        <p><b>Description:</b><%= @donation.description %></p>

        <p><b>Made by:</b><%= @donation.made_by %></p>

      <div class="wat-cf">
        <%= link_to image_tag("web-app-theme/application_edit.png", :alt => "Edit") + " " + "Edit", edit_activity_path(@activity), :class => "button" %> 
        <%= link_to image_tag("web-app-theme/cross.png", :alt => "Delete") + " " + "Delete", activity_path(@activity), :method => "delete", :class => "button", :confirm => "Are you sure?" %>
      </div>  
    
    </div>
  </div>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>