<div class="columns wat-cf">
		<div class="column left">
		  <div class="group">
		    <%= f.label :name, "Name", :class => :label %>
		    <span class="description">Briefly describe activity</span>
		
		    <%= f.text_field :name, :class => 'text_field' %>
		  </div>
		  <div class="group">
		    <%= f.label :description, "Description", :class => :label -%><span class="description">Expand on what you did and how you felt about it</span>
		    
		    <%= f.text_area :description, :class => 'text_area', :rows => 10 %>
		  </div>			
		<div class="group">
		  <button class="button" type="submit">
		    <%= image_tag("web-app-theme/tick.png", :alt => "Save") %>Save
		  </button>
		  <span class="text_button_padding">or</span>
			<%= link_to "Cancel", activities_path, :class => "text_button_padding link_button" %>
		</div>
	</div>

	  <%= f.hidden_field :user_id %>

		
		<div class="column right">
				  <div class="group">
			    	<%= f.label :org_id, "Organization", :class => :label %>
			    	<span class="description">Pick the Organization</span><br>
					<%= f.collection_select( :org_id , Org.all, :id, :organization) %><br>
			  	</div>

  			  <div class="group">
			    <%= f.label :starttime, "Start Date", :class => :label %>
			    <%= f.datetime_select :starttime, :default => { :hour => Time.now.hour, :minute => Time.now.min } , :ampm => true %><br>
			  </div>			

  			  <div class="group">
			    <%= f.label :endtime, "End Date", :class => :label %>
			    <%= f.datetime_select :endtime,  :default => { :hour => ( Time.now.+2.hour ).hour, :minute => Time.now.min }, :ampm => true %><br>
			  </div>			

			  <div class="group">
			    <%= f.label :impact, "Impact", :class => :label %>
			    <span class="description">How useful was the activity?</span><br>
			    <%= f.select :impact, impact_choices %>
			  </div>
			  <div class="group">
			    <%= f.label :reward, "Personal Satisfaction", :class => :label %>
			    <span class="description">How did the activity make you feel?</span><br>
				<%= f.select :reward, reward_choices %><br>
			  </div>        

		</div>
</div>

