<table class="table">
  <tr>             
    <th>Organization</th>
    <th>Impact</th>
    <th>Reward</th>
    <th>Name</th>
    <th>Activity Date</th>
    <th>Duration</th>
	<th>Performed by</th>
    <th>&nbsp;</th>
  </tr>

  <% @activities.each do |activity| -%>
  <tr class="<%= cycle("odd", "even") %>">
    
	<td><%= organization_name(activity.org_id) %></td>
    <td><%= x_impact(activity.impact) %></td>
    <td><%= x_reward(activity.reward) %></td>	
    <td><%= link_to activity.name, activity_path(activity) %></td>
    <td><%= activity.starttime.to_formatted_s(:short) %></td>
    <td><%= "%.2f" % ( ( activity.endtime - activity.starttime )/3600 ) %></td>
	<td><%= user_first_name(activity.user_id) %></td>

    <td class="last">
      <%= link_to "Show", activity_path(activity) %> |
      <%= link_to "Edit", edit_activity_path(activity) %> |
      <%= link_to "Delete", activity_path(activity), :method => :delete, :confirm => "Are you sure?" %>
    </td>
  </tr>          
  <% end -%>
</table>
<div class="actions-bar wat-cf">

	Total time: <%= total_activity_time('all') %>hrs.
  
  <%= will_paginate @activities  %>
  
</div>