<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="active"><%= link_to "Edit", edit_profile_path %></li>
    </ul>
  </div>          
  <div class="content">            
    <h2 class="title">Profile for <%= @user.email %></h2>
    <div class="inner">
		<%= form_for @user, :url => profile_path(@user),  :html => { :class => :form } do |f| %>
			  <% if @user.errors.any? %>
			    <div id="error_explanation">
			      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your profile information from being saved:</h2>
			      	  <ul>
			      		<% @user.errors.full_messages.each do |msg| %>
				        	<li><%= msg %></li>
				      	<% end %>
			      	  </ul>
			    </div>
			  <% end %>
			<%= render :partial => "form", :locals => {:f => f} %>
      	<% end -%>
	</div>
  </div>
</div>

